.form {
    display: flex;
    flex-direction: column;
    width: 452px;
    margin: 40px auto 0;
}
.form__input-heading {
    font-family: 'IBM Plex Sans', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 26px;
    display: flex;
    align-items: center;
    color: #333333;
    opacity: 0.9;
    margin: 0 auto 0 0;
}
.form__input-heading_password {
    margin-top: 8px;
}
.form__password-container {
    position: relative;
}
.form__password-eye {
    position: absolute;
    top: 36px;
    right: 3px;
    width: 32px;
    height: 25px;
    cursor: pointer;
}
.form__input {
    font-family: 'IBM Plex Sans', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 26px;
    color: #333333;
    opacity: 0.9;
    border: 1px solid #BEC5CF;
    margin: 18px 0 0;
    height: 56px;
    border-radius: 8px;
    text-indent: 16px;
    width: 100%;
}
.form__input::placeholder {
    opacity: 0.4;
}
.form__input_error {
    border: 1px solid #EB5757;
}
.form__input-error {
    font-family: 'Play', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 18px;
    color: #EB5757;
    height: 20px;
    margin: 2px 0 0 auto;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}
.form__checkbox-container {
    font-family: 'Play', sans-serif;
    display: flex;
}
.form__checkbox {
    width: 20px;
    height: 20px;
    margin-right: 12px;
    cursor: pointer;
}
.form__checkbox-label {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 18px;
    color: #232428;
    margin: 0;
}
.form__link {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 18px;
    text-align: center;
    text-decoration-line: underline;
    color: #0084F4;
    margin: 0 0 0 auto;
}
.form__link:hover {
    cursor: pointer;
}
.form__submit-button {
    background: #0084F4;
    text-transform: uppercase;
    color: #FFFFFF;
    width: 99px;
    height: 48px;
    border-radius: 8px;
    font-family: 'Play', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
    border: none;
    margin: 40px auto 0;
    cursor: pointer;
}
.form__under-button-text {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 18px;
    color: #232428;
    margin: 34px auto 0 0;
}
.form__under-button-text:last-of-type {
    margin-top: 6px;
}
.form__under-button-text_span {
    color: #0084F4;
    text-decoration: underline;
    cursor: pointer;
}
@media screen and (max-width: 850px) {
    .form {
        width: 448px;
    }
    .form__submit-button {
        margin: 35px auto 0;
    }
}
@media screen and (max-width: 690px) {
    .form {
        width: 312px;
        margin: 35px auto 0;
    }
    .form__input-heading {
        font-size: 14px;
        line-height: 22px;
    }
    .form__input-heading_password {
        margin-top: 4px;
    }
    .form__password-eye {
        top: 29px;
        right: 3px;
        width: 22px;
        height: 15px;
    }
    .form__input {
        font-size: 14px;
        line-height: 22px;
        margin: 10px 0 0;
        height: 48px;
    }
    .form__input-error {
        font-size: 10px;
        line-height: 14px;
        height: 12px;
    }
    .form__checkbox {
        width: 16px;
        height: 16px;
        margin-right: 8px;
    }
    .form__checkbox-container {
        margin-top: 4px;
    }
    .form__checkbox-label {
        font-size: 12px;
        line-height: 16px;
    }
    .form__link {
        font-size: 12px;
        line-height: 16px;
    }
    .form__submit-button {
        width: 216px;
        height: 40px;
        font-size: 13px;
        margin: 32px auto 0;
    }
    .form__under-button-text {
        font-size: 12px;
        margin: 27px auto 0 0;
    }
}
@media screen and (max-width: 350px) {
    .form {
        width: 250px;
    }
}