.card {
    font-family: 'IBM Plex Sans', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    color: #333333;
    display: flex;
    flex-direction: column;
    background: #FFFFFF;
    border: 1px solid #DDDDE4;
    border-radius: 0 0 20px 20px;
    width: 452px;
    margin: 0;
}
.card__heading-container {
    display: flex;
    justify-content: space-between;
    margin: 27px 27px 0 20px;
}
.card__heading {
    font-family: 'Play', sans-serif;
    font-weight: bold;
    line-height: 16px;
    text-transform: uppercase;
    color: #EB5757;
    margin: 0;
}
.card__heading_blue {
    color: #15195F;
}
.card__heading_span {
    color: #9B51E0;
}
.card__ellipses-icon {
    width: 4px;
    height: 12px;
    cursor: pointer;
}
.card__description {
    font-weight: 500;
    font-size: 16px;
    color: #15195F;
    opacity: 0.5;
    margin: 19px auto 0 20px;
}
.card__info {
    display: flex;
    flex-direction: column;
    margin: 28px auto 0 20px;
}
.card__info-container {
    display: flex;
}
.card__value-container {
    display: flex;
    flex-direction: column;
    width: 174px;
}
.card__value-container:last-of-type {
    margin-left: 24px;
}
.card__value-heading-info {
    display: flex;
    flex-direction: column;
    border-right: 1px solid rgb(216, 214, 214);
}
.card__value-heading-info_border {
    border-right: none;
}
.card__value-numbers {
    display: flex;
}
.card__value-heading-number {
    font-family: 'Play', sans-serif;
    font-weight: bold;
    font-size: 32px;
    line-height: 34px;
    text-transform: uppercase;
    color: #15195F;
    margin: 0 10px 0 0;
}
.card__value-heading-number_green {
    color: #219653;
}
.card__value-heading {
    font-size: 16px;
    color: #2F80ED;
    margin: 0 auto 0 0;
    max-width: 111px;
}
.card__value-heading-vector {
    width: 8px;
    height: 5px;
    margin: 10px 9px auto 0;
}
.card__value-production {
    opacity: 0.6;
    margin: 5px auto 29px 0;
}
.card__value-country {
    opacity: 0.9;
    margin: 5px auto 29px 0;
}
.card__under-info-link {
    color: #2F80ED;
    margin: 16px auto 0 0;
    cursor: pointer;
}
.card__under-info-link_purple {
    color: #9B51E0;
}
.card__under-info-link_span {
    opacity: 0.5;
    cursor: text;
}
.card__value-heading-icon {
    width: 9px;
    height: 9px;
    margin: 0 19px 0 0;
}
.card__value-heading-percent {
    font-family: 'Play', sans-serif;
    font-weight: bold;
    font-size: 12px;
    line-height: 14px;
    text-transform: uppercase;
    color: #15195F;
    margin: auto 27px 0 0;
}
.card__value-action {
    opacity: 0.9;
    margin: 0 auto 0 0;
}
.card__value-calc {
    display: flex;
    margin: 16px auto 0 0;
}
.card__value-calc-number {
    color: #EB5757;
    opacity: 0.9;
    margin: 0 5px 0 0;
}
.card__value-calc-number_green {
    color: #219653;
}
.card__value-calc-days {
    opacity: 0.5;
    margin: 0 auto 0 0;
}
.card__link {
    font-family: 'Play', sans-serif;
    font-size: 13px;
    line-height: 15px;
    text-transform: uppercase;
    color: #0084F4;
    margin: 37px auto 21px 20px;
    cursor: pointer;
}